# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

# Virtual Environments
venv/
env/
ENV/
.env
.venv

# IDEs (VS Code, PyCharm, etc)
.vscode/
.idea/

# Project specific - Data persistence (JSON files used as database)
# Se você quiser que o Git ignore os dados salvos durante o uso:
src/infrastructure/persistence/json/*.json
!src/infrastructure/persistence/json/.gitkeep